button {
  border: none;
  background-color: #ee6600;
  color: #ffffff;
  width: 200px;
  height: auto;
  padding: 1%;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: rgb(59, 173, 71);
  transition: ease-in-out 250ms;
}

.nav-item:hover {
  background-color: rgb(174, 44, 116);
}

.centrer {
  text-align: center;
}
.centre {
  text-align: center;
  margin:auto;
  transition: ease-in-out 250ms;
  width: 15%;

}

main {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 1%;
}
.formInput {
  font: 10pt arial;
  color: #dd0000;
  background-color: #eeeeee;
  padding: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  
}
.formInput> div {
  display: flex;
  flex-wrap: nowrap;
 justify-content: space-between;
}

footer {
  height: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #ffffff;
}
footer > :hover {
  background-color: rgb(174, 44, 116);
}

a {
  color: white;
  text-decoration: none;
}

.btn-formation-flex{
  display: flex; 
  flex-direction:column
}
.btn-formation{ 
   width:500px;
   margin: 5px
}

@media screen and (max-width: 900px) {
  .formInput {
    width: 95%;
  }
}
